@page "/users"
@using DotnetProjectManagement.ProjectManagement.Web.Clients
@using DotnetProjectManagement.ProjectManagement.Web.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resources> Localizer
@inject UserClient UserClient
@attribute [Authorize]

<PageTitle>@Localizer["Users"]</PageTitle>

<h1>@Localizer["Users"]</h1>

<p>@Localizer["UsersDescription"]</p>

<Grid TItem="UserRepresentation"
      Class="table table-hover"
      DataProvider="UsersDataProvider"
      AllowPaging="true"
      Responsive="true"
      PaginationItemsTextFormat="@Localizer["GridPaginationItemsTextFormat"]">

    <GridColumn TItem="UserRepresentation" HeaderText="@Localizer["UserFirstName"]">@context.FirstName</GridColumn>
    <GridColumn TItem="UserRepresentation" HeaderText="@Localizer["UserLastName"]">@context.LastName</GridColumn>

</Grid>

@code {

    private async Task<GridDataProviderResult<UserRepresentation>> UsersDataProvider(
        GridDataProviderRequest<UserRepresentation> request)
    {
        var page = await UserClient
            .ListUsersAsync(request.PageNumber - 1, request.PageSize, request.CancellationToken);

        return new GridDataProviderResult<UserRepresentation>
        {
            Data = page.Content,
            TotalCount = (int)page.TotalElements
        };
    }

}
